<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="hospital.Properties.Settings.HCDateBaseConnectionString" connectionString="Data Source=|DataDirectory|\HCDateBase.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="hc_dbEntities" connectionString="metadata=res://*/HC-Model.csdl|res://*/HC-Model.ssdl|res://*/HC-Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=dummy;Persist Security Info=True;database=hc_db&quot;" providerName="System.Data.EntityClient" />
    <add name="hc_dbConect" connectionString="metadata=res://*/HC_Model.csdl|res://*/HC_Model.ssdl|res://*/HC_Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=dummy;password=123;Persist Security Info=True;database=hc_db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>